<div ng-controller="SignupController">

    <form class="col-md-6 col-md-offset-3" role="form">
        <div class="col-xs-12 col-md-12 form-group">
            <label class="col-xs-3 control-label" for="first_name">First name</label>

            <div class="col-xs-9">
                <input ng-model="form.first_name" class="login-input form-control" id="first_name" name="first_name"
                       type="text"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label class="col-xs-3 control-label" for="last_name">Last name</label>

            <div class="col-xs-9">
                <input ng-model="form.last_name" class="login-input form-control" id="last_name" name="last_name"
                       type="text"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label for="email" class="col-xs-3 control-label">Email</label>

            <div class="col-xs-9">
                <input ng-model="form.email" class="login-input form-control" id="email" name="email" type="text"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label for="password" class="col-xs-3 control-label">Password</label>

            <div class="col-xs-9">
                <input ng-model="form.password" class="login-input form-control" id="password" name="password"
                       type="password"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label for="verify-password" class="col-xs-3 control-label">Confirm Password</label>

            <div class="col-xs-9">
                <input class="login-input form-control" id="verify-password" type="password"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 form-group">
            <label for="signupbtn" class="sr-only col-xs-3 control-label">Create Account</label>

            <div class="col-xs-4 col-xs-offset-2">
                <input ng-click="createAccount()" id="signupbtn" type="submit" class="btn btn-primary" value="Create Account"/>
            </div>
        </div>

    </form>
</div>
