<div class="row">

    <h4 class="nav hidden-xs">username</h4>
    <ul class="nav hidden-xs" id="lg-menu">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-tower"></i>My Acount</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-unchecked"></i>Groups</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-leaf"></i>Lists</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-flash"></i>Settings</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-glass"></i>Logout</a></li>
    </ul>

    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
            <a href="https://github.com/taylorlapeyre/wish-list/"><h3>Wishes</h3> <i class="glyphicon glyphicon-info-sign"></i> Feedback</a>
        </li>
    </ul>


    <ul class="nav visible-xs" id="xs-menu">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-tower"></i></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-unchecked"></i></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-leaf"></i></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-flash"></i></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-glass"></i></a></li>
    </ul>

</div>