<div class="row ">

    <h4 class=" nav hidden-xs"></h4>
    <ul class="sidebar nav hidden-xs" id="lg-menu">
        <button ui-sref="userdash.groups" class="center radial-btn">My Groups</button>
        <button ui-sref="userdash.creategroup" class="center radial-btn">Create Group</button>
        <button ui-sref="userdash.myaccount" class="center radial-btn">My Account</button>
        <button ui-sref="userdash.feedback" class="center radial-btn">Give Feedback</button>
        <button ui-sref="home.menu.settings" class="center radial-btn">Settings</button>

</ul>





    <ul class="sidebar nav visible-xs" id="xs-menu">
        <button ui-sref="userdash.groups" class="center radial-btn">My Groups</button>
        <button ui-sref="userdash.creategroup" class="center radial-btn">Create Group</button>
        <button ui-sref="userdash.myaccount" class="center radial-btn">My Account</button>
        <button ui-sref="userdash.feedback" class="center radial-btn">Give Feedback</button>
        <button ui-sref="home.menu.settings" class="center radial-btn">Settings</button>
    </ul>

</div>

