
    <form class="myaccount outline col-md-6 col-md-offset-3" role="form" method="post">



        <div class="col-xs-12 col-md-12 form-group">
            <label for="email" class="col-xs-3 control-label">User</label>

            <div class="col-xs-4">
                <div class="username">


            </div>

                <img src="images/profile_pic.png" class="resize img-thumbnail" ></div>
            <div class=" col-xs-3 form-group">

                <label class="control-label" for="filebutton"></label>
                <p class="help-block">Add photo</p>
                <div class="controls">
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>
        </div>




        <div class="col-xs-12 col-md-12 form-group">
            <label for="password" class="col-xs-3 control-label">Password</label>


            <div class="col-xs-9">
                <input ng-model="form.password" class="login-input form-control" id="password" name="password"
                       type="password" placeholder="change password"/>
            </div>
        </div>



        <div class="col-xs-12 col-md-12 form-group">
            <label for="selectlanguage" class="col-xs-3 col-md-3 control-label">Language</label>
            <div class="col-md-6">
                <select id="selectlanguage" name="selectlanguage" class="form-control">
                    <option>English</option>
                    <option>others unsupported</option>
                </select>
            </div>
        </div>





        <div class="col-xs-12 col-md-12 form-group">
            <label for="selectcountry"class="col-xs-3 control-label">Country</label>

            <div class="col-md-6">
                <select id="selectcountry" name="selectcountry" class="form-control">
                    <option>United States</option>
                    <option>other</option>
                </select>
            </div>
        </div>




        <div class="col-xs-12 col-md-12 form-group">
            <label for="updatebtn" class="sr-only col-xs-3 control-label">Create Account</label>

            <div class="col-md-6">

                <input ng-click="updateAccount()" id="updatebtn" type="submit" class="btn btn-info" value="Update Account"/>
            </div>
        </div>





</form>

































