@import "colors";

*{
  box-sizing: border-box;
}
body{
  background-color:white;
}


/**utils*/
.outline{
  border:1px solid black;
}
.maxHeight{
  height:100%;
}

.rounded{
  border-radius:4px;
}
.rounded-small{
  border-radius:2px;
}


.logocolor{
  background-color: @logo-color;
}

.btn-primary{
  background-color: @logo-color-xl;
  border-color: @logo-color;
}
.btn-primary:hover{
  background-color: @logo-color-l;
  border-color: @logo-color;
}
.center{
  margin-left:auto !important;
  margin-right:auto !important;
}

.form-control{
  margin-bottom:10px;
  resize: none;
}

#quickmenu{
  font-size: 2em;
}

.menu-line{
  border-bottom: 1px solid black;
  height: 10px;
}

/**login*/
.login{

}

.login-input{
  border-radius: 10px;
}

.control-label{
  text-align: right;
}

.status_message{
  .outline;
}

.radial-btn{display:block;
  width:100px;
  height:100px;
  border-radius:50px;
  background-color:@logo-color-xl;
  text-align:center;
  border-color: @logo-color;
  margin: 5px;
}
.radial-btn:hover{
  background-color: @logo-color-l;
  border-color: @logo-color;
}
.radial-btn:active{
  border: none;
}





/**
  slide menu
*/

.slide.ng-enter, .slide.ng-leave {

    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

}

.slide.ng-enter {
  left:100%;
}        /* starting animations for enter */
.slide.ng-enter.ng-enter-active {
  left:75%;
}       /* terminal animations for enter */
.slide.ng-leave {
  right:0;
}       /* starting animations for leave */
.slide.ng-leave.ng-leave-active {
  right:-100%;
}      /* terminal animations for leave */


.navbar-fixed-top{
  top:0;
  position:fixed;
  border-style: ridge;
  border-bottom-color: @logo-color;

}

.sidebar{
  height:100%;
  //background-color: @logo-color;
}
.sidebar-footer{
  bottom: 0;
  border-top-style: solid;


}
.active{
  z-index: 2;
  position: fixed;
  right: 0; /* or right */
  top: 10%;
  bottom: 0;
  overflow: auto;

}

.main-container{
  padding: 10px;

}
.myaccount{
  border-width: thick;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border-color: @logo-color;
}

.control-group{

}

/**
  the small little picture+name pairs
*/
.user_namepic_set{
  margin-bottom:10px;
  background-color:white;
  padding: 4px;
  .rounded;
}
.user_pic{
  display:inline;
  height: 100%;
  width: 8%;
}

.user_name{
  display:inline;
  width: 90% !important;
}

.plusbtn{
  color: white;
  text-shadow:0.5px 0.5px 2px grey;
  overflow:hidden;
}

.create_group_btn_wrapper{
  margin-right:15px;
}

/**
  groups
*/

