/*
-l stands for light
-d stands for dark
*/
/**
  basic element colors
*/
.red {
  background-color: #df3e3e;
}
.green {
  background-color: #79d858;
}
.green-fade {
  background-image: linear-gradient(#79d858, #569e3d);
}
* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
/**utils*/
.outline {
  border: 1px solid black;
}
.maxHeight {
  height: 100%;
}
.rounded {
  border-radius: 4px;
}
.rounded-small {
  border-radius: 2px;
}
.logocolor {
  background-color: #5e0031;
}
.btn-primary {
  background-color: #91004c;
  border-color: #5e0031;
}
.btn-primary:hover {
  background-color: #78003e;
  border-color: #5e0031;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.form-control {
  margin-bottom: 10px;
  resize: none;
}
#quickmenu {
  font-size: 2em;
}
.menu-line {
  border-bottom: 1px solid black;
  height: 10px;
}
/**login*/
.login-input {
  border-radius: 10px;
}
.control-label {
  text-align: right;
}
.status_message {
  border: 1px solid black;
}
.radial-btn {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #91004c;
  text-align: center;
  border-color: #5e0031;
  margin: 5px;
}
.radial-btn:hover {
  background-color: #78003e;
  border-color: #5e0031;
}
.radial-btn:active {
  border: none;
}
/**
  slide menu
*/
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.slide.ng-enter {
  left: 100%;
}
/* starting animations for enter */
.slide.ng-enter.ng-enter-active {
  left: 75%;
}
/* terminal animations for enter */
.slide.ng-leave {
  right: 0;
}
/* starting animations for leave */
.slide.ng-leave.ng-leave-active {
  right: -100%;
}
/* terminal animations for leave */
.navbar-fixed-top {
  top: 0;
  position: fixed;
  border-style: ridge;
  border-bottom-color: #5e0031;
}
.sidebar {
  height: 100%;
}
.sidebar-footer {
  bottom: 0;
  border-top-style: solid;
}
.active {
  z-index: 2;
  position: fixed;
  right: 0;
  /* or right */
  top: 10%;
  bottom: 0;
  overflow: auto;
}
.main-container {
  padding: 10px;
}
.myaccount {
  border-width: thick;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border-color: #5e0031;
}
/**
  the small little picture+name pairs
*/
.user_namepic_set {
  margin-bottom: 10px;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
}
.user_pic {
  display: inline;
  height: 100%;
  width: 8%;
}
.user_name {
  display: inline;
  width: 90% !important;
}
.plusbtn {
  color: white;
  text-shadow: 0.5px 0.5px 2px grey;
  overflow: hidden;
}
.create_group_btn_wrapper {
  margin-right: 15px;
}
/**
  groups
*/
