@basecolor:#ffffff;
@logo-color:#5e0031;
/*
-l stands for light
-d stands for dark
*/
@logo-color-l:lighten(@logo-color,5%);
@logo-color-xl:lighten(@logo-color,10%);
@logo-color-d:darken(@logo-color,5%);
@logo-color-xd:darken(@logo-color,10%);

*{
  box-sizing: border-box;
}
.outline{
  border:1px solid black;
}
body{
  background-color:@basecolor;
}
.state{
  margin-left:10px;
}
.logocolor{
  background-color: @logo-color;
}

.btn-primary{
  background-color: @logo-color-xl;
  border-color: @logo-color;
}
.btn-primary:hover{
  background-color: @logo-color-l;
  border-color: @logo-color;
}
.center{
  margin-left:auto !important;
  margin-right:auto !important;
}

.form-control{
  margin-bottom:10px;
  resize: none;
}

#quickmenu{
  font-size: 2em;
}

.menu-line{
  border-bottom: 1px solid black;
  height: 10px;
}

.login{

}
.login-input{
  border-radius: 10px;
}
.control-label{
  text-align: right;
}


.radial-btn{display:block;
  width:100px;
  height:100px;
  border-radius:50px;
  background-color:@logo-color-xl;
  text-align:center;
  border-color: @logo-color;
  margin: 5px;
}
.radial-btn:hover{
  background-color: @logo-color-l;
  border-color: @logo-color;
}
.radial-btn:active{
  border: none;
}